.vs/
.idea/
.vscode/
obj/
bin/
artifacts/
wwwroot/
node_modules/
*.user
.pnpm-debug.log
/.editorconfig
/TestSolutions/**/.editorconfig
/TestSolutions/Lombiq.Analyzers.*/**/AnalyzerViolations.cs
/Lombiq.Analyzers/Lombiq.Analyzers.nuspec
