.vs/
.idea/
.vscode/
obj/
bin/
artifacts/
wwwroot/
node_modules/
*.user
.pnpm-debug.log
/.editorconfig
/TestSolutions/Lombiq.Analyzers.*/.editorconfig
/TestSolutions/Lombiq.Analyzers.*/AnalyzerViolations.cs
/TestSolutions/Lombiq.Analyzers.PackageReference/IndirectPackageReference/AnalyzerViolations.cs
/Lombiq.Analyzers/Lombiq.Analyzers.nuspec
