<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Orchard 1 C# rules" ToolsVersion="16.0">
  <Include Path="OrchardCore.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA3147" Action="None" />
  </Rules>
  <Rules AnalyzerId="SecurityCodeScan" RuleNamespace="SecurityCodeScan">
    <Rule Id="SCS0016" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S3904" Action="None" />
    <Rule Id="S4564" Action="None" />
  </Rules>
</RuleSet>
