<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2012/06/nuspec.xsd">
    <metadata>
        <id>Lombiq.Analyzers</id>
        <version>$version$</version>
        <title>Lombiq .NET Analyzers</title>
        <authors>Lombiq Technologies</authors>
        <license type="file">License.md</license>
        <licenseUrl>https://aka.ms/deprecateLicenseUrl</licenseUrl>
        <icon>NuGetIcon.png</icon>
        <projectUrl>https://github.com/Lombiq/.NET-Analyzers</projectUrl>
        <description>Lombiq .NET Analyzers: .NET code analyzers and code convention settings for Lombiq (https://lombiq.com) projects, predominantly for Orchard Core (https://orchardcore.net/) apps but also any .NET apps. See the project website for detailed documentation.</description>
        <copyright>Copyright © 2020, Lombiq Technologies Ltd.</copyright>
        <tags>OrchardCore Lombiq AspNetCore CodeAnalysis DotNetAnalyzers Analyzer Analyzers Diagnostic Roslyn Refactoring AsyncFixer Meziantou.Analyzer StyleCop</tags>
        <repository type="git" url="https://github.com/Lombiq/.NET-Analyzers" commit="86d47a37c4d37bb5d8417eae9adfc4680e09fd91" />
        <dependencies>
            <!-- Dependencies come here from CommonPackages.props. -->
        </dependencies>
    </metadata>
</package>
